/.web-server-pid
./well-know

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini
/build/
/phpunit.xml

# Cache, session files and logs (Symfony3)
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

# Les vendors 
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# Email spool folder
/app/spool/*

/app/bootstrap.php.cache
/var/bootstrap.php.cache

.env
/public/bundles/
/public/uploads/
/var/
/vendor/

.Halite.key

/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

#NetBeans
./nbproject/

composer.lock

symfony.lock
